
name: Hello World

on:
  push:
    branches:
      - master
      - main
      - "Team6/profile-features"
      - "imaneayyadi6-patch-1"
  pull_request:
    branches:
      - master
      - main
  workflow_dispatch:

jobs:
  say-hello-inline-bash:
    runs-on: ubuntu-24.04
    steps:
      - run: echo "hello from an inline bash script in a GitHub Action Workflow!"
